* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

.container {
  min-width: 100%;

 
}

.header {
  margin: 20px 10px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  width: 50px;
  height: 50px;
  background-color: rgb(18, 27, 152);
  border: none;
  border-radius: 50%;
}

.header__heading {
  font-size: 20px;
  font-weight: bold;
  color: rgb(18, 27, 152);
  padding: 20px;
}

.header__text {
  font-size: 15px;
  font-weight: normal;
  color: rgb(18, 27, 152);
  margin: 20px 10px;
  display: flex;
  flex-wrap: wrap;
}

.section {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
}

.card {
  margin: 20px 20px;
  width: 370px;
}

.image {
  width: 370px;
  height: 200px;
  background-color: grey;
}

.btn {
  margin: 20px 0px;
}

.btn .releaseYear,
.btn .genre {
  cursor: pointer;
  margin: 0 6px;
  padding: 6px 18px;
}

.btn .releaseYear {
  background-color: rgb(255, 221, 87);
  border: none;
  border-radius: 5px;
  font-size: 17px;
}

.btn .genre {
  background-color: rgb(87, 195, 255);
  border: none;
  border-radius: 5px;
  font-size: 17px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info .title {
  font-weight: normal;
}

.info .director {
  font-size: 18px;
}

.card .text {
  margin: 20px 0px;
  font-weight: normal;
}

.line {
  border-bottom: 2px solid gray;
  margin-top: 50px;
}

.youtubeLink {
  color: red;
  font-size: 30px;
  margin: 10px 0;
}
/* Desktop version */
@media (min-width: 500px) {
  body {
    background-color: initial;
    max-width: 768px;
    margin: 0 auto;
  }

  .card {
    width: 370px;
  }

  .image {
    width: 370px;
  }
}
